{% block content %}
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='ms.css') }}">
    </head>
    <body>
        <div id="header"><h1>Плов народов мира</h1></div>
        <div id="sidebar">
            <p>Плов по-фергански</p><p>Плов узбекский</p>
            <p>Плов сибирский</p><p>Плов итальянский</p>
            <p>Плов эстонский</p><p>Плов по-американски</p>
            <p>Плов по-индейски</p>
        </div>
        <div id="content">
            <h2>Плов по-фергански</h2>
            <p>Тщательно перемешайте готовый плов, переложите в большое блюдо, сверху разложите мясо.</p>
        </div>
    </body>

{% endblock %}